body {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav a {
    color: crimson;
    text-decoration: none;
}

section.about blockquote {
    background-color: #eaeaea;
}

section.user span {
    font-weight: 200;
}
section.user span:nth-child(2) {
    color: crimson;
}

section.creator a.link {
    font-family: 'Lato',
    sans-serif;
}

section.creator a.link-font {
    font-family: 'PT Serif',
    serif
}

section.cta h2#cta {
    color: crimson;
    font-family: 'Lato',
    sans-serif;
}